<div class="content-page">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="page-title-red"><span><strong>企业文化</strong></span></h3>
    </div>
    <div class="row">
      <dl class="dl-horizontal dl-horizontal-qywh">
        <dt>宗旨</dt>
        <dd>用互联网+实现商品现货销售创新，本着 “促进商品流通，发展内需，服务实体经济”为宗旨。</dd>
        <dt>原则</dt>
        <dd>秉承“公平、公开、公正”的原则，汇通商品。</dd>
        <dt>定位</dt>
        <dd>目标定位是“立足国内、面向全球”，成为现代商品交易运营模式完善，服务功能齐全，有国际影响力的交易中心、物流中心、定价中心和信息中心，
          力争成为全球商品现货销售市场体系建设中受尊敬的交易所</dd>
        <dt>理念</dt>
        <dd>以人为本，脚踏实地，坚韧不拔，锐意改革，积极向上，诚信、规范服务，科技创新为理念，打造大宗商品交易创新标杆！</dd>
        <dt>文化</dt>
        <dd>仁、智、勇；厚德载物，上善若水，协作共赢。</dd>
        <dt>使命</dt>
        <dd>扩大实体经济的商品流通和提升企业品牌影响力，为解决就业、提高税收，实现中国梦、强国梦做贡献。</dd>
      </dl>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>