<div class="content-page">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="page-title-red"><span><strong>交易软件下载</strong></span></h3>
    </div>
    <div class="row">
      <div class="col-md-4 center">
        <h4 class="center h-down-custom-3"><strong>阿商所分析系统</strong></h4>
        <h5 class="center h-down-custom">适用客户：所有阿凡交易中心用户电脑端</h5>
        <a class="btn btn-danger" href="http://www.afanba.com/down/afan.rar">高速下载地址</a>
      </div>
      <div class="col-md-4 center">
        <h4 class="center h-down-custom-3"><strong>阿商所实盘系统</strong></h4>
        <h5 class="center h-down-custom">适用客户：所有正式交易客户电脑端</h5>
        <a class="btn btn-danger" href="http://update.afanba.com/download/real/trade/RealTraderClient_Setup_888.exe">高速下载地址</a>
      </div>
      <div class="col-md-4 center">
        <h4 class="center h-down-custom-3"><strong>阿商所模拟系统</strong></h4>
        <h5 class="center h-down-custom">适用客户：所有模拟交易客户电脑端</h5>
        <a class="btn btn-danger" href="http://update.afanba.com/download/simulate/trade/DemoTraderClient_Setup_888.exe">高速下载地址</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 center">
        <h4 class="center h-down-custom-3"><strong>Framework 2.0 32位</strong></h4>
        <h5 class="center h-down-custom-1">适用客户：Windows XP 32位</h5>
        <h5 class="center h-down-custom-2">软件介绍：微软.Net Framework 2.0</h5>
        <a class="btn btn-danger" href="http://download.microsoft.com/download/c/6/e/c6e88215-0178-4c6c-b5f3-158ff77b1f38/NetFx20SP2_x86.exe">高速下载地址</a>
      </div>
      <div class="col-md-4 center">
        <h4 class="center h-down-custom-3"><strong>Framework 2.0 64位</strong></h4>
        <h5 class="center h-down-custom-1">适用客户：Windows XP 64位</h5>
        <h5 class="center h-down-custom-2">软件介绍：微软.Net Framework 2.0</h5>
        <a class="btn btn-danger" href="http://download.microsoft.com/download/c/6/e/c6e88215-0178-4c6c-b5f3-158ff77b1f38/NetFx20SP2_x64.exe">高速下载地址</a>
      </div>
      <div class="col-md-4 center">
        <h4 class="center h-down-custom-3"><strong>Framework 3.5</strong></h4>
        <h5 class="center h-down-custom-1">适用客户：Windows 7</h5>
        <h5 class="center h-down-custom-2">软件介绍：微软.Net Framework 3.5</h5>
        <a class="btn btn-danger" href="http://download.microsoft.com/download/2/0/E/20E90413-712F-438C-988E-FDAA79A8AC3D/dotnetfx35.exe">高速下载地址</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 center">
        <h4 class="center h-down-custom-3"><strong>阿商所实盘手机端</strong></h4>
        <h5 class="center h-down-custom-1">适用客户：所有正式交易客户手机端</h5>
        <h5 class="center h-down-custom-2">软件介绍：版本支持苹果ISO、安卓Android，提供实时行情查看、账户权益查询、商品自选等 功能。优化K线图分时图，并支持横屏查看。保障优质服务。</h5>
        <h5 class="center h-down-custom-2">特别提示：建议安装前卸载原有APP。</h5>
      </div>
      <div class="col-md-2">
        <img src="img/page/appmn.jpg" class="img-responsive img-down-custom">
      </div>
      <div class="col-md-4 center">
        <h4 class="center h-down-custom-3"><strong>阿商所模拟手机端</strong></h4>
        <h5 class="center h-down-custom-1">适用客户：所有正式交易客户手机端</h5>
        <h5 class="center h-down-custom-2">软件介绍：版本支持苹果ISO、安卓Android，提供实时行情查看、账户权益查询、商品自选等 功能。优化K线图分时图，并支持横屏查看。保障优质服务。</h5>
        <h5 class="center h-down-custom-2">特别提示：建议安装前卸载原有APP。</h5>
      </div>
      <div class="col-md-2">
        <img src="img/page/appsp.jpg" class="img-responsive img-down-custom">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>