.content-page-aflssyb {
  background-color: white;
  width: 100%;
  height: 3200px;
}

.img-content-aflssby {
  //padding-top: 50px;
}

.img-custom-aflssyb {
  height: 350px;
  width: 350px;
  padding: 10px;
}

.p-indent-black {
  color: black;
  font-size: medium;
  text-indent: 2em;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
}