<div class="content-page">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="page-title-red"><span><strong>阿凡招商优势及政策</strong></span></h3>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-push-2">
        <p class="p-afys-custom">
          会员单位全年累计给交易所完成手续费<span>150万以后，内返50%</span>
        </p>
          <div class="col-md-12 col-md-push-1">
            <p class="p-afys-custom">
              <strong>会员单位全年累计给交易所完成手续费<span>300万以后，内返?%</span></strong>
            </p>
            <p class="p-afys-xq">
              <strong>(详情请电话咨询：13901918466)</strong>
            </p>
                <div class="col-md-12 col-md-push-1">
                  <p class="p-afys-custom">
                    <strong> 会员单位全年累计给交易所完成手续费<span>500万以后，内返?%</span></strong>
                  </p>
                  <p class="p-afys-xq">
                    <strong>(详情请电话咨询：13901918466)</strong>
                  </p>
                </div>
          </div>
      </div>
    </div>

    <div class="row">
        <img src="img/page/strengths.png" class="img-responsive center-block">
    </div>
  </div>
  <div class="col-md-2"></div>
</div>