<div class="content-hyxw">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h1 class="h-title-w"><strong>WHAT'S <span>NEWS</span></strong>
        <br><strong>行业新闻</strong>
      </h1>
    </div>
    <div class="row">
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" no-transition="noTransition" class="carousel-fade carousel slide">
        <uib-slide ng-repeat="row in directory track by row.id" index="row.id" >
          <div class="row">
            <div class="col-xs-4" ng-repeat="imgRow in row.imgArr">
              <img ng-src="{{imgRow.imgSrc}}" >
            </div>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>