<div class="content-page">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="page-title-red"><span><strong>直播室</strong></span></h3>
    </div>
    <div class="row">

      <div class="div-shade-zbs">
        <p class="p-indent-black">
          目前所有会员单位做的好都有直播室。直播室需要投入高额广告费用，每一个最小直播室最少投入50-100万,没有那么多专业人才在你们公司,不一定养得起这么多专业人才。
        </p>
        <p class="p-indent-black-custom-1">
          阿凡交易所专门联合了TNT专门做了一个阿凡直播室。我们有第三方阿凡交易所直播室,这个直播室会给每个会员提供导入端口。你的业务员只要把客户输送到直播室，所有的维护，讲课，客户的学习课堂，在该直播室都可以享受,而且前期不需要付出任何一分钱,都是交易所来承担,直播室可以提升企业的实力,我们200家会员单位,每家都有自己的企业独立logo,独立的介绍和名字，独立的二级域名网址，独立的会员管理及服务体系，客户就认为是会员单位的直播。
        </p>
        <p class="p-indent-black">
          万一直播室喊单错误，可以和客户说这是第三方的责任，直播室全天运行18个小时，有12个专业老师，有一半的老师都是在第一财经的老师，在百度可以搜得到，提升公司的实力形象，为后期增加客户的粘合度，能在后期为了卖老师加金。
        </p>

      </div>
      <div class="row center">
        <a class="a-zbs-custom" href="http://www.tntjiang.net/">财经讲堂演示网址：http://www.tntjiang.net/</a>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>