<div class="content-puertea">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h1 class="h-title-b"><strong><span>PUER</span> TEA</strong>
      <br><strong>普洱茶</strong>
      </h1>
      <p class="p-indent">
        普洱茶是以中国云南省一定区域内云南大叶种晒青毛茶为原料，经过发酵加工成的散茶和紧压茶。其中包括历史上经自然发酵而成的普洱茶（存放也是一种加工方式），也包括现今人工发酵和自然发酵的普洱茶。[3]
      </p>
      <p class="p-indent">
        据考证银生城的茶是云南大叶茶种，也就是普洱茶种。所以银生城产的茶叶，应该是普洱茶的祖宗。所以 ，清朝阮福在《普洱茶记》中说：“普洱古属银生府。则西蕃之用普洱， 已自唐时。” 宋朝 李石在他的《续博物志》一书也记载了：“茶出银生诸山，采无时，杂菽姜烹而饮之。”
      </p>
      <p class="p-indent">
        元朝有一地名叫“步日部”，由于后来写成汉字，就成了“普耳”(当时“耳”无三点水)。普洱一词首见于此，从此得以正名写入历史。没有固定名称的云南茶叶， 也被叫做“普茶”逐渐成为西藏、新疆等地区市场买卖的必需商品。普茶一词也从此名震国内外，直到明朝末年，才改叫普洱茶。
      </p>
      <a ui-sref='page.aboutafjj' class="a-more">更多</a>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<img-carousel></img-carousel>
<pages-cyxw></pages-cyxw>
<pages-hyxw></pages-hyxw>

<img-list></img-list>
<video-list></video-list>
<div class="content-fzlc">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="h-title"><span>发展</span>历程</h3>
    </div>
    <div class="row">
      <img src="/img/index/fzlc.png" class="img-responsive center-block">
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="content-qywh">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="h-title"><span>企业</span>文化</h3>
    </div>
    <div class="row">
      <!--<div class="col-md-10 col-md-push-2">-->
        <dl class="dl-horizontal dl-horizontal-custom">
          <dt>宗旨</dt>
          <dd>用互联网+实现商品现货销售创新，本着 “促进商品流通，发展内需，服务实体经济”为宗旨。</dd>
          <dt>原则</dt>
          <dd>秉承“公平、公开、公正”的原则，汇通商品。</dd>
          <dt>定位</dt>
          <dd>目标定位是“立足国内、面向全球”，成为现代商品交易运营模式完善，服务功能齐全，有国际影响力的交易中心、物流中心、定价中心和信息中心，
            力争成为全球商品现货销售市场体系建设中受尊敬的交易所</dd>
          <dt>理念</dt>
          <dd>以人为本，脚踏实地，坚韧不拔，锐意改革，积极向上，诚信、规范服务，科技创新为理念，打造大宗商品交易创新标杆！</dd>
          <dt>文化</dt>
          <dd>仁、智、勇；厚德载物，上善若水，协作共赢。</dd>
          <dt>使命</dt>
          <dd>扩大实体经济的商品流通和提升企业品牌影响力，为解决就业、提高税收，实现中国梦、强国梦做贡献。</dd>
        </dl>
      <!--</div>-->
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<img-change></img-change>
<div class="content-hzjg">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="h-title"><span>合作</span>机构</h3>
    </div>
    <div class="row">
      <!--<div class="col-md-10 col-md-push-2">-->
      <dl class="dl-hzhb">
        <dt>银行监管</dt>
        <dd>阿商所严格按照监管部门相关要求实行交易保证金第三方存管制度，选择国有银行以及实力雄厚的股份制商业银行作为指定结算银行，交易保证金专户存管，保证资金安全。出入金功能方便快捷，交易商通过独立终端系统出入资金，第一时间完成资金划拨，安全高效。</dd>
      </dl>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img src="/img/index/hz01.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz02.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz03.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz04.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz05.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz06.png" class="img-responsive center-block img-custom-hzjg">
      </div>
    </div>
    <div class="row">
      <dl class="dl-hzhb">
        <dt>e胜网</dt>
        <dd>e胜网是一个为广大会员提供生活消费服务的大型B2C（商对客）网络购物平台。它通过联合积分机制，帮助会员实现以积分兑换商品的方式。开辟出一种互联网与传统金融行业相互融合的全新模式，为消费者提供便捷实惠的O2O（线上线下）生活购物服务。</dd>
      </dl>
    </div>
    <div class="row">
      <div class="col-md-6 div-img-hzhb-custom">
        <img src="/img/index/hzjg01.png" class="img-responsive center-block">
      </div>
      <div class="col-md-6">
        <img src="/img/index/hzjg02.png" class="img-responsive center-block">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>