<div class="content-afjj">
  <div class="col-md-2"></div>
  <div class="col-md-5">
    <div class="row">
      <h3 class="h-title"><span>阿凡</span>简介</h3>
      <p class="p-indent">
        阿凡交易中心创始人用互联网思维服务金融创新，借助"互联网+商品+金融+物流"的发展机遇，本着"促进商品流通，服务实体经济"为根本宗旨，以规范和引导我国大宗商品交易市场的健康发展为使命，秉承"公平、公开、公正"的原则，将实现汇集资源、提高流通效率的功能，力争成为商品市场体系建设中的龙头和我国商品交易市场行业的标杆，其目标定位是"立足国内、面向全球"，成为交易市场运营模式创新，服务功能齐全、完善，具有国际影响力的"互联网+"交易中心、物流中心、定价中心和信息中心......
      </p>
      <a ui-sref='page.aboutafjj' class="a-more">更多</a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-6">
        <img src="img/index/3.jpg" class="img-responsive img-custom">
      </div>
      <div class="col-md-6">
        <img src="img/index/4.jpg" class="img-responsive img-custom">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="img/index/2.jpg" class="img-responsive img-custom-2">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<img-list></img-list>
<video-list></video-list>
<div class="content-fzlc">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="h-title"><span>发展</span>历程</h3>
    </div>
    <div class="row">
      <img src="/img/index/fzlc.png" class="img-responsive center-block">
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="content-qywh">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="h-title"><span>企业</span>文化</h3>
    </div>
    <div class="row">
      <!--<div class="col-md-10 col-md-push-2">-->
        <dl class="dl-horizontal dl-horizontal-custom">
          <dt>宗旨</dt>
          <dd>用互联网+实现商品现货销售创新，本着 “促进商品流通，发展内需，服务实体经济”为宗旨。</dd>
          <dt>原则</dt>
          <dd>秉承“公平、公开、公正”的原则，汇通商品。</dd>
          <dt>定位</dt>
          <dd>目标定位是“立足国内、面向全球”，成为现代商品交易运营模式完善，服务功能齐全，有国际影响力的交易中心、物流中心、定价中心和信息中心，
            力争成为全球商品现货销售市场体系建设中受尊敬的交易所</dd>
          <dt>理念</dt>
          <dd>以人为本，脚踏实地，坚韧不拔，锐意改革，积极向上，诚信、规范服务，科技创新为理念，打造大宗商品交易创新标杆！</dd>
          <dt>文化</dt>
          <dd>仁、智、勇；厚德载物，上善若水，协作共赢。</dd>
          <dt>使命</dt>
          <dd>扩大实体经济的商品流通和提升企业品牌影响力，为解决就业、提高税收，实现中国梦、强国梦做贡献。</dd>
        </dl>
      <!--</div>-->
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<img-change></img-change>
<div class="content-hzjg">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="h-title"><span>合作</span>机构</h3>
    </div>
    <div class="row">
      <!--<div class="col-md-10 col-md-push-2">-->
      <dl class="dl-hzhb">
        <dt>银行监管</dt>
        <dd>阿商所严格按照监管部门相关要求实行交易保证金第三方存管制度，选择国有银行以及实力雄厚的股份制商业银行作为指定结算银行，交易保证金专户存管，保证资金安全。出入金功能方便快捷，交易商通过独立终端系统出入资金，第一时间完成资金划拨，安全高效。</dd>
      </dl>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img src="/img/index/hz01.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz02.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz03.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz04.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz05.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz06.png" class="img-responsive center-block img-custom-hzjg">
      </div>
    </div>
    <div class="row">
      <dl class="dl-hzhb">
        <dt>e胜网</dt>
        <dd>e胜网是一个为广大会员提供生活消费服务的大型B2C（商对客）网络购物平台。它通过联合积分机制，帮助会员实现以积分兑换商品的方式。开辟出一种互联网与传统金融行业相互融合的全新模式，为消费者提供便捷实惠的O2O（线上线下）生活购物服务。</dd>
      </dl>
    </div>
    <div class="row">
      <div class="col-md-6 div-img-hzhb-custom">
        <img src="/img/index/hzjg01.png" class="img-responsive center-block">
      </div>
      <div class="col-md-6">
        <img src="/img/index/hzjg02.png" class="img-responsive center-block">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>