<div class="content-page">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="page-title-red"><span><strong>上市品种</strong></span></h3>
      <h3 class="page-title-black"><span><strong>上市品种</strong></span></h3>
      <p class="page-indent-black-sspz">
        清远市被誉为“中国再生铜都”，是一个没有铜矿但产铜量最大的地方，是中国华南地区最大的废铜集散地，形成了比较完整的再生铜产业集群。再生铜产业是今天清远市最有潜力的支柱产业之一。 2015年，清远市五金环保定点进口企业25家，产值为91亿元，再生金属产业链总产值超过900亿元，再生铜产量42万吨，占全国再生铜275万吨的15.27%。
      </p>
    </div>
    <div class="row">
      <img src="img/page/support_5.png" class="img-responsive img-custom-page">
    </div>
    <div class="row">
      <p class="page-indent-black-sspz">
        阿商所将对清远再生铜行业的整体情况、发展趋势、市场需求、产品种类与质量标准、产业链等进行了全方位的调查与研究，通过全面的对再生铜产业的业态分析，结合阿商所的优质资源及创新模式，切实的服务清远市的再生铜产业。
      </p>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>