.img-custom-page {
  height: 300px;
  width: 100%;
  padding: 50px;
}

.page-indent-black-sspz {
  color: black;
  font-size: medium;
  text-indent: 2em;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 30px;
}