.header-nav-bar1 {
  background-color: black;
  height: 90px;
}

.navbar1 {
  //position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.logo {
  background-image: url("/img/阿凡交易所logo.png");
  background-repeat: no-repeat;
  background-size: 50%;
  //background-attachment: fixed;
  background-color: transparent;
  margin-left: 120px;
  margin-top: 20px;
}

.navbar-nav {
  padding-left: 100px;
}

.dropdown-toggle-custom {
  color: white;
  width: 140px;
  text-align: center;
  background-color: black;
}

.navbar-nav > li > a {
  background-color: black;
  color: white;
  opacity: 0.65;-moz-opacity: 0.65;filter:alpha(opacity=65);
}

.nav .open > a:focus ,
.nav .open > a:hover ,
.nav .open > a:active ,
.nav .open > a:link ,
.nav .open > a:visited {
  background-color: black;
  color: white;
  border-color: white;
}

.nav > li > a:focus ,
.nav > li > a:hover ,
.nav > li > a:active ,
.nav > li > a:link ,
.nav > li > a:visited {
  background-color: black;
  color: white;
  border-color: white;
}

.dropdown-toggle-dashed {
  border-left: 3px dashed white;
}

.user-body-1 {
  text-align: center;

}
.navbar-nav>.notifications-menu>.dropdown-menu,
.navbar-nav>.messages-menu>.dropdown-menu,
.navbar-nav>.tasks-menu>.dropdown-menu {
  width: 13.33%;
  top: 136%;
  left: -8%;
  border-color:black;
}

.dropdown-menu-1 {
  background-color: black;
  width: 100px;

}
.dropdown-menu-1 > li > div > div > a {
  color: white;
}

.a-title-header-nav-bar{
  padding-top: 10px;
  padding-bottom: 10px;
}

.div-title-header-nav-bar{
  padding-top: 15px;
  padding-bottom: 15px;
}

/* 页面公共css */

.shuli-div-top {
  padding-top: 150px;
}
.shuli{
  margin: 0 auto;
  width: 20px;
  line-height: 24px;
  //border: 1px solid #333;
}

.fangkuai-1 {
  width: 30px;
  height: 30px;
  background-color: black;
}

.fangkuai-2 {
  width: 25px;
  height: 25px;
  background-color: black;
}

.left-line{
  border-left: 3px solid #333;
  min-height: 1500px;
}

.list-group-item-custom {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  //background-color: #fff;
  border-bottom: 2px dashed grey;
}

.list-group-item-left{
  color: black;
}

.list-group-item-right{
  color: grey;
}
.breadcrumb-custom {

  background-color: transparent;
  margin-top: 50px;
  margin-bottom: 70px;
}