<div class="header-nav-bar">
    <div class="row">
        <div class="col-md-2 col-xs-2">
        </div>
        <div class="col-md-10 col-xs-10">
            <a href="/" class="logo"></a>
            <nav class="navbar navbar-static-top">
                <div class="menu-list">
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu" uib-dropdown>
                            <a ui-sref='app.landing' class="dropdown-toggle dropdown-toggle-custom" data-toggle="dropdown" uib-dropdown-toggle>
                                首页
                            </a>
                        </li>
                        <li class="dropdown notifications-menu" uib-dropdown>
                            <a href="#" class="dropdown-toggle dropdown-toggle-custom dropdown-toggle-dashed" data-toggle="dropdown" uib-dropdown-toggle>
                                产业新闻
                            </a>
                            <ul class="dropdown-menu dropdown-menu-1">
                                <li class="user-body user-body-1">
                                    <div class="row">
                                        <div class="col-xs-2 text-center">
                                            <a ui-sref='page.aboutafjj'>普洱茶新闻</a>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                            <a ui-sref='page.aboutfzlc'>行业新闻</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu" uib-dropdown>
                            <a href="#" class="dropdown-toggle dropdown-toggle-custom dropdown-toggle-dashed" data-toggle="dropdown" uib-dropdown-toggle>
                                交易中心
                            </a>
                            <ul class="dropdown-menu dropdown-menu-1" uib-dropdown-menu>
                                <li class="user-body user-body-1">
                                    <div class="row">
                                        <div class="col-xs-2 text-center">
                                            <a ui-sref='page.aboutqysp'>企业视频</a>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                            <a ui-sref='page.aboutasszfsp'>阿商所专访视频</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu" uib-dropdown>
                            <a href="#" class="dropdown-toggle dropdown-toggle-custom dropdown-toggle-dashed" data-toggle="dropdown" uib-dropdown-toggle>
                                关于茶
                            </a>
                            <ul class="dropdown-menu dropdown-menu-1" uib-dropdown-menu>
                                <li class="user-body user-body-1">
                                    <div class="row">
                                        <div class="col-xs-2 text-center">
                                            <a ui-sref='page.aboutsspz'>上市品种</a>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                            <a ui-sref='page.aboutafspxx'>阿凡商品信息</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu" uib-dropdown>
                            <a href="#" class="dropdown-toggle dropdown-toggle-custom dropdown-toggle-dashed" data-toggle="dropdown" uib-dropdown-toggle>
                                藏品展示
                            </a>
                            <ul class="dropdown-menu dropdown-menu-1">
                                <li class="user-body user-body-1">
                                    <div class="row">
                                        <div class="col-xs-2 text-center">
                                            <a ui-sref='page.abouthzjg' ng-click="gotoCustom('content-page-esw')">e胜网</a>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                            <a ui-sref='page.abouthzjg' ng-click="gotoCustom('content-page-yhjg')">银行监管</a>
                                        </div>
                                        <div class="col-xs-2 text-center">
                                            <a ui-sref='page.abouthzjg' ng-click="gotoCustom('content-page-cyzc')">产业支撑</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu" uib-dropdown>
                            <a ui-sref='page.aboutdown' class="dropdown-toggle dropdown-toggle-custom dropdown-toggle-dashed" data-toggle="dropdown" uib-dropdown-toggle>
                                信息中心
                            </a>
                        </li>
                        <li class="dropdown notifications-menu" uib-dropdown>
                            <a ui-sref='page.aboutjstd' class="dropdown-toggle dropdown-toggle-custom dropdown-toggle-dashed" data-toggle="dropdown" uib-dropdown-toggle>
                                联系我们
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>