<div class="content-page">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="page-title-red"><span><strong>股东背景</strong></span></h3>
      <h3 class="page-title-black"><span><strong>科拉胜集团</strong></span></h3>
      <p class="page-indent-black-gdbj-1">
        科拉胜管理集团一直致力于多元化发展，至今，科拉胜集团在金融投资、建材市场、大宗商品市场、国内国际贸易、国际建材品牌代理、房地产投资开发、建筑装饰设计工程、置业物业管理、文化传播等领域均有良好的成绩和口碑。
      </p>
      <p class="page-indent-black-gdbj-2">
        经权威机构评估“CLASS科拉胜”品牌无形资产已达到30亿元。科拉胜集团立足长远、以先进的理念、一流的服务、规范化的管理为先导，铸就了科拉胜管理集团雄厚的品牌文化。
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="img/page/gd1.jpg" class="img-responsive img-custom-page">
      </div>
      <div class="col-md-4">
        <img src="img/page/gd2.jpg" class="img-responsive img-custom-page">
      </div>
      <div class="col-md-4">
        <img src="img/page/gd3.jpg" class="img-responsive img-custom-page">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="img/page/gd4.jpg" class="img-responsive img-custom-page">
      </div>
      <div class="col-md-6">
        <img src="img/page/gd5.jpg" class="img-responsive img-custom-page">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>