<div class="content-page">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="page-title-red"><span><strong>阿凡简介</strong></span></h3>
      <p class="p-indent-black">
        阿凡交易中心创始人用互联网思维服务金融创新，借助"互联网+商品+金融+物流"的发展机遇，本着 "促进商品流通，服务实体经济"为根本宗旨，以规范和引导我国大宗商品交易市场的健康发展为使命，秉承"公平、公开、公正"的原则，将实现汇集资源、提高流通效率的功能，力争成为商品市场体系建设中的龙头和我国商品交易市场行业的标杆，其目标定位是"立足国内、面向全球"，成为交易市场运营模式创新，服务功能齐全、完善，具有国际影响力的"互联网+"交易中心、物流中心、定价中心和信息中心。湖南阿凡商品现货交易中心，注册在美丽的湖南长沙，作为湖南省要素市场重点招商推进项目，享受各级金融业、现代服务业、信息服务业综合配套政策，政府协调推动领导小组整合各界优势资源，给予阿凡商品重点扶持，并以上海为中心，运营全国、全球交易配送。在十八届三中全会全面深化改革政策鼓舞下，根据湖南省人民政府《关于支持长株潭城市两型社会示范区改革建设若干意见》中，关于"鼓励金融市场创新，互联网+"，支持示范区推进场外交易市场建设，设立大宗优势产品交易所"的文件精神，在湖南省委、省政府及有关部门、商务厅，由国家证监委、湖南局支持鼓励下由湖南省省各级领导支持指导关心下，湖南阿凡商品现货交易中心于2015年2月成立，是作为湖南省要素市场重点招商推进项目，享受各级金融业、现代服务业、信息服务业综合配套政策，政府协调推动领导小组整合各界优势资源，给予阿凡商品重点扶持，由著名的上海科拉胜投资集团关联企业注资蕴育而生。
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="img/index/3.jpg" class="img-responsive img-custom-page">
      </div>
      <div class="col-md-6">
        <img src="img/index/4.jpg" class="img-responsive img-custom-page">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="img/index/l4.jpg" class="img-responsive img-custom-page">
      </div>
      <div class="col-md-6">
        <img src="img/index/l6.jpg" class="img-responsive img-custom-page">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="img/index/2.jpg" class="img-responsive img-custom-page">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>