<div class="content-page-esw" id="content-page-esw">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="page-title-red"><span><strong>e胜网</strong></span></h3>
      <p class="p-indent-black">
        e胜网是一个为广大会员提供生活消费服务的大型B2C（商对客）网络购物平台。它通过联合积分机制，帮助会员实现以积分兑换商品的方式。开辟出一种互联网与传统金融行业相互融合的全新模式，为消费者提供便捷实惠的O2O（线上线下）生活购物服务。
      </p>
    </div>
    <div class="row">
      <img src="img/index/hzjg01.png" class="img-responsive center-block img-custom-page-hzjg ">
    </div>
    <div class="row">
      <img src="img/page/hzjg03.png" class="img-responsive center-block img-custom-page-hzjg">
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="content-page-yhjg" id="content-page-yhjg">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="page-title-red"><span><strong>银行监管</strong></span></h3>
      <p class="p-indent-black">
        阿商所严格按照监管部门相关要求实行交易保证金第三方存管制度，选择国有银行以及实力雄厚的股份制商业银行作为指定结算银行，交易保证金专户存管，保证资金安全。出入金功能方便快捷，交易商通过独立终端系统出入资金，第一时间完成资金划拨，安全高效。
      </p>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img src="/img/index/hz01.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz02.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz03.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz04.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz05.png" class="img-responsive center-block img-custom-hzjg">
      </div>
      <div class="col-md-2">
        <img src="/img/index/hz06.png" class="img-responsive center-block img-custom-hzjg">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="content-page-cyzc" id="content-page-cyzc">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h3 class="page-title-red"><span><strong>产业支持</strong></span></h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="img/page/support_1.png" class="img-responsive center-block">
      </div>
      <div class="col-md-8">
          <h4 class="h-custom-cyzc"><strong>现货合作商</strong></h4>
        <p class="p-indent-black-custom ">
          湖南鑫达银业股份有限公司成立于2003年，公司实力雄厚，总产值近10亿元，是中国白银行业三强企业、湖南省百强企业、中国银都龙头企业。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="p-indent-black">
          公司专注再生银冶炼加工领域，致力营建从上游再生资源（三废）回收，中游白银提纯冶炼，到下游白银精深加工、工业旅游及产品研发的纵向完整的一体化产业链，实现跨区域连锁经营，将鑫达银业打造成中国领先的高附加值一体化再生银加工企业。旗下“永银”牌1号白银产品被评为“湖南省名牌”、“中国知名品牌”，2004到2015年连续12年被评为“全国用户最爱20家白银品牌”。是全国最大的白银提纯生产基地，也是中国最具影响力的白银工艺品制造基地。
        </p>
      </div>
      <div class="col-md-4">
        <img src="img/page/support_2.png" class="img-responsive center-block img-custom-cyzc-1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="img/page/support_3.png" class="img-responsive center-block">
      </div>
      <div class="col-md-8">
        <p class="p-indent-black">
          2016年4月8日，湖南阿凡商品现货交易中心（下称“阿商所”）与中国银都湖南鑫达银业集团有限公司（下称“鑫达集团”）正式签署战略合作框架协议。阿商所执行总裁田博，招商一部总监熊立玲，鑫达银业集团董事长曹生文等共同出席了此次签约仪式。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-push-3">
        <img src="img/page/support_4.png" class="img-responsive center-block img-custom-cyzc-2">
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>