.content-page-esw {
  height: 900px;
  background-color: #f1f1f1;
}

.content-page-yhjg {
  height: 400px;
  background-color: #f1f1f1;
}

.content-page-cyzc {
  height: 1200px;
  background-color: #f1f1f1;
}

.page-title-brown {
  color: #231715;
  text-align: center;
  padding-top: 40px;
}

.img-custom-page-hzjg {
  padding-top: 50px;
}
.img-custom-cyzc-1 {
  position:relative;
  top: 35px;
}

.img-custom-cyzc-2 {
  position:relative;
  top: -30px;
}

.p-indent-black-custom {
  color: black;
  font-size: medium;
  text-indent: 2em;
  line-height: 35px;
}

.h-custom-cyzc {
  padding-top: 40px;
}