<div class="content-weixins-biqu-menu">
    <header>
        <nav class="navbar navbar-fixed-top navbar-fixed-custom">
            <span>{{title}}</span>
        </nav>
    </header>
    <div class="container-fluid container-fluid-custom">

        <div class="row row-custom">
            <div class="col-xs-6">
                <a class="btn btn-primary btn-lg btn-block" ui-sref='weixin.biququeryaccount'>
                    <span class="glyphicon glyphicon-search span-size-custom" aria-hidden="true"></span>
                    <h5>查询优惠券</h5>
                </a>
            </div>
            <div class="col-xs-6">
                <div >
                    <a class="btn btn-warning btn-lg btn-block" ui-sref='weixin.biqugetticket'>
                        <span class="glyphicon glyphicon-download span-size-custom"></span>
                        <h5>领取优惠券</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="row row-custom">
            <div class="col-xs-6">
                <a class="btn btn-success btn-lg btn-block" ui-sref='weixin.biquhaiyiservice'>
                    <span class="glyphicon glyphicon-phone span-size-custom" aria-hidden="true"></span>
                    <h5>海逸服务</h5>
                </a>
            </div>
            <div class="col-xs-6">
                <div >
                    <a class="btn btn-primary btn-lg btn-block" ui-sref='weixin.biquhaiyierweima'>
                        <span class="glyphicon glyphicon-qrcode span-size-custom"></span>
                        <h5>APP二维码</h5>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>