.row-custom{
  margin-top:15px;margin-bottom:15px
}
.header{
  background:#222;background-repeat:no-repeat;background-position:center 0;-webkit-background-size:cover;background-size:cover;padding:138px 0 0;text-align:center;min-height:400px;position:relative
}
.span-size-custom{
  font-size:80px;color:#fff
}
.navbar-fixed-custom{
  background-color:#1a1a1a;text-align:center;color:#fff;font-size:24px
}
.navbar-fixed-custom div{
  line-height:65px
}
.navbar-fixed-custom a{
  color:#fff
}
.navbar-fixed-custom a.focus,.navbar-fixed-custom a:focus{
  color:#d3d3d3
}
.navbar-fixed-custom a:hover{
  color:#d3d3d3
}
.navbar-fixed-custom a:active{
  color:#fff
}
.navbar-fixed-custom{
  background-color:#1a1a1a;text-align:center;color:#fff;font-size:24px;line-height:50px
}

.container-fluid-custom{
  margin-top:50px;
}